@charset "utf-8";
/* CSS Document */

/* CSSコード */
.header {
  background: #6a5acd;
  display: flex;
  top: 0;
  height: 100px;
  padding: 20px;
  position: fixed;
  justify-content: space-between;
  width: 95%;
}


.top {
  background-color: #fff;
  border: 1px solid #02225233;
  height: 100px;
  text-align: center;
  padding-top: 100px;
}

.top h2 {
  line-height: 100px;
  color: #0C1664;
}

.nav_menu {
  display: flex;
  padding: 10px;
}

.nav_menu_item {
  margin-left: 20px;
}

.content {
  max-width: 1920px;
  margin: 0 auto;
}

.content_item {
  padding: 30px 0;
}
